@model DItest.ViewModel.SaleInfoViewModel

    <div class="row">
        <input id="salehidden" type="hidden" value="@Model.customerin.Id" />

        <div class="col-md-3">
            <div class="form-group">
                <label>Address</label>
                <p>@Model.customerin.Customer.CustomerName</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>DateTime</label>
                <p>@Model.customerin.SaleDateTime</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>TotalAmount</label>
                <input id="totalvalue" value="@Model.customerin.TotalAmount" readonly="">
            </div>
        </div>

    </div>

<script>

    calc_total();
    function calc_total() {
        var sum = 0;
        $(".total").each(function () {
            sum += parseFloat($(this).val());
        });
        $('#totalvalue').val(sum);
    };

</script>